@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}


:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  --transition: all 400ms ease;
  --color-bg: rgb(0, 8, 68);
  --color-primary: #68e3ff;
  --color-light: #c9e0f8;
  --color-white: #ffffff;
  --color-text: #44a1ff;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  /* 
  background: rgb(22, 14, 145);
  background: -moz-radial-gradient(circle, rgba(22, 14, 145, 1) 2%, rgba(20, 153, 232, 1) 16%, rgba(22, 215, 255, 1) 47%, rgba(15, 39, 190, 1) 85%);
  background: -webkit-radial-gradient(circle, rgba(22, 14, 145, 1) 2%, rgba(20, 153, 232, 1) 16%, rgba(22, 215, 255, 1) 47%, rgba(15, 39, 190, 1) 85%);
  background: radial-gradient(circle, rgba(22, 14, 145, 1) 2%, rgba(20, 153, 232, 1) 16%, rgba(22, 215, 255, 1) 47%, rgba(15, 39, 190, 1) 85%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#160e91", endColorstr="#0f27be", GradientType=1); */
  background: rgb(16, 0, 255);
  background: -moz-linear-gradient(120deg, rgba(16, 0, 255, 1) 5%, rgba(28, 148, 229, 1) 23%, rgba(0, 81, 175, 1) 34%, rgba(0, 60, 155, 1) 56%, rgba(0, 15, 112, 1) 72%);
  background: -webkit-linear-gradient(120deg, rgba(16, 0, 255, 1) 5%, rgba(28, 148, 229, 1) 23%, rgba(0, 81, 175, 1) 34%, rgba(0, 60, 155, 1) 56%, rgba(0, 15, 112, 1) 72%);
  background: linear-gradient(120deg, rgba(16, 0, 255, 1) 5%, rgba(28, 148, 229, 1) 23%, rgba(0, 81, 175, 1) 34%, rgba(0, 60, 155, 1) 56%, rgba(0, 15, 112, 1) 72%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1000ff", endColorstr="#000f70", GradientType=1);
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
  color: var(--color-white);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
  height: 100vh;
}

section>h2,
section>h5 {
  text-align: center;
  color: var(--color-light);
}

section>h2 {
  margin-bottom: 3rem;
  color: var(--color-primary)
}

.text-light {
  color: var(--color-light);
}


a {
  color: var(--color-light);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  color: var(--color-primary);
  border: 1px solid var(--color-text);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/*media queries*/

@media screen and (max-width:1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width:600px) {
  .container {
    width: var(--container-width-sm);
  }

  section>h2 {
    margin-bottom: 2rem;
  }
}